body {
  background-color: #00bcd4;
}

h1 {
	color: #ff5722;
}

h3 {
	color: #dd2c00;
}

hr {
  background-color: #00bcd4 ;
  border-color: #b2ebf2;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 100%;
}